/*Universal Styles*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  height: 100%
  }

div {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: underline;
  color: seashell;
  opacity: 0.9;
}

.flex-container {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6 -, Safari 3.1-6*/
  display: -webkit-flex; /* NEW - Chrome */
  display: -ms-flexbox; /* TWEENER - IE 10*/
  justify-content: space-between;
  padding-top: 10px;
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-flow: wrap;
}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

/*Navigation*/
span a {
  color: seashell;
}

nav span {
  padding: 20px 10px;
}

/*Images*/
#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  padding-top: 70px;
}

#berryblitz {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg");
}

#spiced-rum-tea {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg");
}

#seasonal-donuts {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg");
}

#myrtle-tea {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg");
  margin-left: 165px;
}

#bedford-tea {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg");
  margin-right: 165px;
}

#background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  width: 1200px;
  height: 500px;

}

/*Header Section*/
.flex-container img {
  height: 50px;
  padding-left: 10px;
}

/*Main Content*/
.main {
  padding-top: 69px;
  opacity: 0.9
  width: 1200px;
  background-color: black;
  margin: auto;
}

/*Mission Section*/
.mission-statement {
  background-color: black;
  width: 1200px;
  align-content: center;
}

/*Tea of Month Section*/
.tom-container {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  flex-flow: wrap;
}

.tea {
  padding-top: 30px;
  align-content: center;
  width: 1000px;
}

.tea-images {
  height: 200px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin-bottom: 10px;
  display: block;
}

#myrtle {
  margin-left: 165px;
}

#bedford {
  margin-right: 165px;
}

/*Locations Section*/
.locations {
  background-color: black;
  height: 250px;
  width: 300px;
}
#downtown {
  margin-right: 40px;
}
#bayside {
  margin-right: 40px;
}
/*Contact Section*/
#contact {
  text-decoration: none;
  text-align: center;
  height: 200px;
}

/*Footer*/
footer {
  text-align: left;
  padding-left: 20px;
}
